
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color:rgb(0, 0, 0);
}

h3 {
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
}

li{
    list-style: none;
}


/* Simons Nisseri */

.header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__list{
    display: flex;
}
.header__item{
    font-size: 15px;
    margin: 5px;
    margin-left: 20px;
}
.header__nav--small{
    display: none;
}


.quotebox{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
}

.quotebox__wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-style: oblique;
}

.quotebox__author{
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
}

.quotebox__picture--cirle{
    background-color: #C4C4C4 ;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
/* Nisseri Out :) */

#sloganBanner {
    background-color: #333333;
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 160px;
}

button {
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    border-style: none;
}

button p {
    font-weight: bold;
}
.buttonMan{
    padding: 40px;
}


.cardWrapper{
    display: flex;
    justify-content: center;
}

.cardDisplay {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 90px;
}

.card {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.card-l{
    overflow: hidden;
    width:65%;
}
.card-l img{
    width: 100%;
}

.card-s {
    width:31%;
}
.card-s img{
    width: 100%;
}
.card > div > h3 {
    padding:10px 0px;
}




footer {
    background-color: rgba(79, 79, 79, 1);
    display: flex;
    justify-content: space-around;
    height: 400px;
}

footer h3 {
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.footerContainer {
    margin-top: 70px;
}

footer li {
    line-height: 2.5;
    font-size: 16px;
    color: white;
}

footer p {
    line-height: 1.5;
    color: white;
    font-size: 16px;
}

.socialMediaLogos img {
    margin-right: 25px;
}

@media (max-width: 700px){
    .header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .header__nav--small{
        display: block;
    }

    .header__list{
        display: none;
    }

    h3 {
        font-size: 10px;
    }

    #sloganBanner {
        padding-top: 60px;
    }


    footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .footerContainer {
        margin-left: 5%;
    }
    
    .footerContainer nav {
        display: none;
    }

    .socialMediaLogos {
        margin-bottom: 10%;
    }

    .cardDisplay{
        display: flex;
        flex-direction: column;
    }

    .card-l{
        display: none;
    }

    .card-s{
        margin: auto;
        width: 90%;
        display: inline-block;}

    .card-s h3{
        font-size: 2rem;
    }
}