
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;

    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color:rgb(0, 0, 0);
}

h3 {
    color:rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 700;
}

li{
    list-style: none;
}


/* Simons Nisseri */

header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav ul{
    display: flex;
}
header nav ul li{
    font-size: 15px;
    margin: 5px;
    margin-left: 20px;
}
header nav img{
    display: none;
}


.quoteBox{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
}

.wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-style: oblique;
}

#nameTitle{
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
}

#lilCircle{
    background-color: #C4C4C4 ;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
/* Nisseri Out :) */

#sloganBanner{
    background-color: #333333;
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 160px;
}

button {
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    border-style: none;
}

button p {
    font-weight: bold;
}

.cardDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 90px;
    max-width: 80vw;  
    margin:auto;
}

.card {
    border-bottom: 1px solid grey;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}
.card-l{
    overflow: hidden;
    width:656px;
}

.card-s {
    width:311px;
 
}

.card > div > h3 {
    padding:10px 0px;
}




footer {
    background-color: rgba(79, 79, 79, 1);
    display: flex;
    justify-content: space-around;
    height: 400px;
}

footer h3 {
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
}

.footerContainer {
    margin-top: 70px;
}

footer li {
    line-height: 2.5;
    font-size: 16px;
    color: white;
}

footer p {
    line-height: 1.5;
    color: white;
    font-size: 16px;
}

.socialMediaLogos img {
    margin-right: 25px;
}

@media (max-width: 700px){


    header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    header nav img{
        display: block;
    }

    header nav ul{
        display: none;
    }

    h3 {
        font-size: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .footerContainer nav {
        display: none;
    }

    


}