
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
}

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color:rgb(0, 0, 0);
}

h3 {
    color:rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
}

li{
    list-style: none;
}

.header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__list{
    display: flex;
}
.header__item{
    font-size: 15px;
    margin: 5px;
    margin-left: 20px;
}
.header__nav--small{
    display: none;
}


.quotebox{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgb(255, 255, 255);
}

.quotebox__wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-style: oblique;
}

.quotebox__author{
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
}

.quotebox__picture--cirle{
    background-color: #C4C4C4 ;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.sloganBanner {
    background-color: #333333;
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 160px;
}

button {
    background-color: white;
    justify-content: center;
    margin-top: 30px;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    border-style: none;
}

button p {
    font-weight: bold;
}


.cardWrapper{
    display: flex;
    justify-content: center;
}

.cardDisplay {
    width:min(100%, 1000px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 5rem;
}

.card {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.card--large {
    overflow: hidden;
    max-width: 41rem;
}

.card--small {
    overflow: hidden;
    max-width:20rem;
}

.card__img-box {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    min-width:100%;
   
}

.image--width {
    min-width:20rem;
    max-height: 18rem;
}

.card__content {
    padding:10px 0px;
}

.card__content--title  {
    font-size: 2rem;
    font-weight: 700;
    margin:1rem 0;
}

.wrapper-footer {
    background-color: rgba(79, 79, 79, 1);
    display: flex;
    justify-content: space-around;
    height: 400px;
}

.wrapper-footer__section--title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.wrapper-footer__info-container {
    margin-top: 4em;
}

.wrapper-footer__list {
    line-height: 2.5;
    font-size: 1em;
    color: white;
}

.wrapper-footer--text {
    line-height: 1.5;
    color: white;
    font-size: 1em;
}

.wrapper-footer--img-spacing {
    margin-right: 1.5em;
}

@media (max-width: 700px){
    
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .header__nav--small{
        display: block;
    }

    .header__list{
        display: none;
    }


    .sloganBanner {
        padding-top: 60px;
    }

    .wrapper-footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .wrapper-footer__info-container {
        margin-left: 1.5em;
        margin-top: 2em;
    }

    .wrapper-footer__navigation {
        display: none;
    }
    
    .wrapper-footer__logos {
        margin-bottom: 1.5em;
    }

    .cardDisplay{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card--large{
        display: none;
    }

    .card--small{
        margin: auto;
       width: 90%;
        display: inline-block;
    }

  
}